<%= turbo_frame_tag 'categories' do %>
    <h2>
        <%=t('.title')%>
        |
        <span>
            <%= link_to t('products.new.title'), new_product_path %>
        </span>
    </h2>

    <%= link_to products_path do %>
        <%= t('.all') %>
    <% end %>

    <%= render partial: 'category', collection: @categories %>

    <%= render partial: 'product', collection: @products %>
<% end %>