<h2><%=t('.title')%></h2>

<div class="photo">
    <%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
</div>

<div class="title">
    <%= t("activerecord.attributes.product.title") %>: <%= @product.title %>
</div>
<div class="description">
    <%= t("activerecord.attributes.product.description") %>: <%= @product.description %>
</div>
<div class="price">
    <%= t("activerecord.attributes.product.price") %>: <%= @product.price %>
</div>
<div class="edit">
    <%= link_to t("products.edit.title"), edit_product_path(@product.id)%>
</div>
<div class="delete">
    <%= link_to t("products.delete.title"), product_path(@product.id), data: {
        turbo_method: :delete,
        turbo_confirm: t('common.confirm.delete')
    }%>
</div>
